# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment
.env

# Celery
celerybeat-schedule
celerybeat-schedule.db
celerybeat.pid

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
