[Unit]
Description=Celery Beat - Scheduler
After=redis.service

[Service]
Type=simple
User=www-data
Group=www-data

WorkingDirectory=/usr/share/nginx/html/scheduler
EnvironmentFile=/usr/share/nginx/html/scheduler/.env
ExecStart=/usr/share/nginx/html/scheduler/.venv/bin/celery -A app beat --loglevel=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
