[Unit]
Description=Celery Beat - Scheduler
After=redis.service

[Service]
Type=simple
User=DEPLOY_USER
Group=DEPLOY_GROUP

WorkingDirectory=DEPLOY_PATH
EnvironmentFile=DEPLOY_PATH/.env
ExecStart=DEPLOY_PATH/.venv/bin/celery -A app beat --loglevel=info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
